.add-product-page {
  display: flex;
  flex-direction: column;
  .inputs {
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  input {
    width: 40%;
    padding: 10px 0;
    font-size: 16px;
    margin-bottom: 30px;
    margin-right: 10%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
  }
  textarea {
    width: 80%;
    margin: 0 auto;
    height: 40%;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    height: 300px;
  }
  .icon-close {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    text-align: right;
    padding: 30px;
    cursor: pointer;
  }
  
  .icon-add {
    position: absolute;
    left: 91%;
    top: 45%;
    font-size: 22px;
    color: $color-text-orange;
    cursor: pointer;
  }
}
